/* Seção Home */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background: radial-gradient(circle, rgba(0, 255, 153, 0.2), transparent);
    padding: 20px;
  }
  
  .hero-content {
    max-width: 800px;
  }
  
  .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    margin-bottom: 15px;
    box-shadow: 0 0 15px var(--shadow-color);
  }
  
  .hero h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-shadow: 0 0 10px var(--shadow-color);
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .hero-buttons {
    margin-top: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 25px;
    background: var(--primary-color);
    color: var(--background-color);
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, background 0.3s;
    box-shadow: 0 0 10px var(--shadow-color);
    margin: 10px;
  }
  
  .btn:hover {
    background: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0 0 15px var(--secondary-color);
    transform: scale(1.1);
  }